<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Inserir poema</title>
</head>

<body>
    <nav>
        <article>
            <li><a href="/">Home</a></li>
        </article>
        <ul>
            <li><a href="/about">Sobre</a></li>
            <li><a href="/criar">Inserir Poema</a></li>
        </ul>
    </nav>

    <% if(message != "") {  %>
        <section id="message">
            <p><%= message %></p> <span id="close">&times;</span>
        </section>
    <% }  %>
    
    <section id="insert-poem">

        <form action="/criar" method="POST">
            <div>
                <label for="nome">Nome do poema: </label>
                <input type="text" name="nome" id="nome" placeholder="Nome do poema" required>
            </div>

            <div>
                <label for="autor">Nome do autor: </label>
                <input type="text" name="autor" id="autor" placeholder="Nome do autor" required>
            </div>
        
            <div>
                <label for="poema">Poema: </label>
                <input type="text" name="texto" id="texto" placeholder="Poema" required>
            </div>

            <div>
                <label for="imagem">Imagem do autor: </label>
                <input type="text" name="imagem" id="imagem" placeholder="URL">
            </div>
            
            <button type="submit">Cadastrar</button>
        </form>
    </section>
    <script src="/js/script.js"></script>
</body>

</html>