@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body {
    background: #ece9e6;
    background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
    background: linear-gradient(to right, #ffffff, #ece9e6);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

nav {
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    transition: 0.2s;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #000000;
  }
  
  nav article {
    display: flex;
    align-items: center;
    
  }

  nav li {
    padding-right: 1rem;
    padding-left: 1rem;
    list-style: none;
  }

  header {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
  
  header h2 {
    font-size: 2rem;
    text-align: center;
  }  

.mobile-container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
    align-items: space-between;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}


img {
    max-width: 100%;
}

.poem {
    background-color: #fff;
    width: 400px;
    border-radius: 3px;
    margin: 1.5rem;
    box-shadow: 0 0 10px 2px #3333331A;
    overflow: hidden;
}

.poem h2 {
  padding-left: 1rem;
}

.poem-header {
    position: relative;
}

.poem-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.poem-header img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.poem-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.poem-body h4 {
    margin: 0;
}

section#message {
    padding: 1rem;
    background-color: rgb(197, 255, 214);
    color: #004d04;
    position: fixed;
    top: 5rem;
    right: 2rem;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    font-size: 1.1rem;
  }

  .box {
    background: white;
    max-width: 450px;
    border-radius: 10px;
    padding: 40px;
    box-shadow: -3px 8px 15px 0px rgba(0, 0, 10, 0.05);
}

.box-header {
  padding: 0.3rem;
}

section#insert-poem {
  height: 10em;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

section#insert-poem form button {
  background-color: lightgrey;
  color: black;
  padding: 10px;
  font-size: 0.7rem;
  font-weight: 700;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 2rem;
  cursor: pointer;
  width: 45%;
}

.details {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background: white;
  max-width: 450px;
  border-radius: 10px;
  padding: 40px;
  box-shadow: -3px 8px 15px 0px rgba(0, 0, 10, 0.05);
}

#title {
  font-size: 30px;
  color: #434343;
  padding-top: 5px;
  padding-bottom: 11px;
}
@media (min-width: 600px) {
  #title {
    font-size: 35px;
    padding-top: 8px;
  }
}

#text, author {
  letter-spacing: 0.1px;
}

.buttons {
  display: block;
  padding: 15px 10px 40px 10px;
}
.buttons .button:hover {
  opacity: 0.85;
  transition: 0.5s;
}
